@font-face {
    font-family: TrajanusBricks;
    src: url(../../assets/TrajanusBricks.ttf);
}

:root {
    --background: #F9F6F2;
    --primary-container: #312229;
    --secondary-container: #571121;
    --tertiary-container: #47596F;
    --primary-on: #D5C5AE;
    --secondary-on: #E0BD00;
}

/* Initialisation */
body,
h1,
h2,
h3,
p,
ul,
ol,
li {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}

a {
    text-decoration: none;
    color: #333;
}


nav#nav-header {
    display: flex;
    flex-direction: column;
    width: auto;
}

div#top-header {
    display: flex;
    width: auto;
    margin: 0.5vw;
    justify-content: space-between;
    align-items: center;
}

div#logo {
    width: 6vw;
    height: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #571121;
    color: #E0BD00;
    font-size: 1.6vw;
}

div#btn-connection {
    display: flex;
    width: 15vw;
    height: 40px;
    justify-content: space-around;
    align-items: center;
}

a#log-in {
    text-decoration: none;
    color: var(--secodary-container, #571121);
    text-align: center;
    font-family: var(--font-subtitle, Belgiano Serif);
    font-size: 2em;
    text-decoration-line: underline;
}

button#btn-sign-in {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 7vw;
    height: 2vw;
    background: var(--secodary-container, #571121);
    color: var(--secondary-on, #E0BD00);
    text-align: center;
    font-family: var(--font-subtitle, Belgiano Serif);
    font-size: 30px;
}

/*BANNER*/

div#banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35vh;
    background-image: url(../../assets/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 55%;
}

div#banner-txt {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 12vh;
    padding: 0 3vh;
    background: var(--secodary-container, #571121);
    margin: 15px;
    color: var(--secondary-on, #E0BD00);
    text-align: center;
    font-family: TrajanusBricks;
    font-size: 2.5em;
    word-spacing: 1.5vw;
    letter-spacing: -0.2vw;
}